parameters:
	ignoreErrors:
		-
			message: '#^Method class@anonymous/test/CastTest\.php\:1989\:\:toArray\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: test/CastTest.php
