parameters:
	ignoreErrors:
		-
			message: '#^Method class@anonymous/test/ToArrayTest\.php\:281\:\:toArray\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: test/ToArrayTest.php
